body {
    background-image: url('img/bg-image.jpg');
    background-size: cover;
}

nav {
    background: rgb(140, 21, 21);
}

nav .logo-container img {
    transition: 200ms ease-in-out;
}

nav .logo-container img:hover {
    transform: scale(1.2);
}

nav ul li {
    transition: 200ms ease-in-out;
}

nav ul li:hover {
    transform: scale(1.1);
}